body {
    margin: 0;
}

/* header */
header {
    height: 65px;
    width: 100%;
    background-color: #fff !important;
    position: fixed;
    z-index: 999;
}

.header-left {
    display: inline-flex;
    padding-top: 10px;
}

.header-left img {
    width: 128px;
    height: 46px;
}

.header-left p {
    font-weight: 700;
    padding-top: 20px;
}

.header-right {
    width: 316px;
    height: 45px;
    color: #fff;
    background-color: #DA6B63;
    border-radius: 30px;
    text-align: center;
    display: inline-flex;
    float: right;
    margin-top: 10px;
    margin-right: 55px;
}

.header-right p {
    margin: auto;
}


/* <!-- topwrapper --> */
.top-wrapper {
    width: auto;
    background-image: url(img/main.jpg);
    background-size: cover;
    height: 500px;
    text-align: center;
    position: relative;
    top: 50%;
    padding-top: 100px;
}

.top-wrapper img {
    height: 82px;
    width: 300px;
}



/* <!-- お問い合わせ・資料請求 --> */
.contact {
    height: 604px;
    width: auto;
    padding-top: 32px;
    background-color: #EBB94C;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.course-fee {
    color: red;
}

.course-fee b {
    background-color: #fff;
}

.contact-us {
    width: 80%;
    height: 107px;
    color: #fff;
    background-color: #DA6B63;
    border-radius: 50px;
    text-align: center;
    margin: 52px auto;
}


.contact-us p {
    padding-top: 32px;
    font-weight: 600;
    font-size: 28px;
}

.contact-sns {
    display: inline-flex;
    color: #fff;
}

.contact-tw {
    height: 20px;
    width: 76px;
    background-color: #1A95E0;
    display: inline-flex;
    margin-right: 9px;
    border-radius: 3px;
}

.contact-fa-tw {
    font-size: 12px;
    margin: auto;
}

.contact-tw p {
    font-size: 12px;
    margin: auto;
}


.contact-good {
    height: 20px;
    width: 82px;
    background-color: #1877F2;
    display: inline-flex;
    margin-right: 9px;
    border-radius: 3px;
}

.contact-fa-good {
    font-size: 12px;
    margin: auto;
}

.contact-good p {
    font-size: 12px;
    margin: auto;
}

.contact-share {
    height: 20px;
    width: 52px;
    background-color: #1877F2;
    display: inline-flex;
    border-radius: 3px;
    font-size: 12px;
}

.contact-share p {
    margin: auto;
}

/* <!-- エンジニアとして本当の自由を手に入れるためには？ --> */
.free {
    height: 588px;
    width: 100%;
    background-image: url(img/introbottom.jpg);
    background-size: cover;
    text-align: center;
}

.free-title {
    display: inline-flex;
}

.free h2 {
    margin: 83px auto 85px auto;
}

.kakko {
    color: #EBB94C;
    font-size: 100px;
}

.kakko1 {
    padding-right: 30px;
    padding-bottom: 60px;
}

.kakko2 {
    padding-left: 30px;
    padding-top: 60px;
}

.free p {
    font-size: 20px;
}

/* <!-- iSara[イサラ]とは --> */
.about-isara {
    width: 100%;
    height: 648px;
    background-color: #FEF5E0;
    text-align: center;
}

.about-isara-head {
    height: 80px;
    width: 80px;
    background-color: #EBB94C;
    color: #fff;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    bottom: 40px;
}

.about-isara h4 {
    padding-bottom: 42px;
}

.free-title h2 {
    margin: auto;
}

.five-skill {
    width: 95%;
    height: 249px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #EBB94C;
    border-radius: 5px;
}

.five-skill h4 {
    padding-top: 34px;
    padding-bottom: 25px;
}

.five-skill img {
    font-size: medium;
}

.five-images {
    padding-bottom: 10px;
}

.five-images-naka {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.five-images-naka p {
    margin-top: 10px;
}

/* <!-- iSaraで「基本的なプログラミングスキル」は教えません --> */
.not-teach {
    width: auto;
    height: 439px;
    color: #fff;
    text-align: center;
    background-image: url(img/aboutsecondbg.jpg);
    background-size: cover;
}

.not-teach span {
    color: #EBB94C;
}

.not-teach-parent {
    padding-top: 65px;
}

.not-teach-parent h5 {
    padding-top: 30px;
}

.step {
    display: inline-block;
    padding: 16px;
}

.step0 {
    text-align: center;
    padding: 16px;
    background-color: #fff;
    width: 374px;
    height: 177px;
    margin: 0 auto;
    border-radius: 5px;
}

.step h5 {
    width: 314px;
    height: 24px;
    color: #fff;
    background-color: #EBB94C;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

.step p,
h4 {
    color: black;
}

.step p {
    padding-top: 30px;
}

.step h4 {
    font-size: large;
}

.eat-difficult {
    width: auto;
    height: 145px;
    color: #fff;
    background-color: #006EA9;
    position: relative;
}

.eat-difficult h4 {
    color: #fff;
    position: absolute;
    transform: translateY(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}


.not-programing {
    color: #EBB94C;
}

/* <!-- iSara[イサラ]で学べること --> */
.learn-isara {
    width: 100%;
    height: 504px;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
}

.learn-isara-parent {
    margin-top: 56px;
}

.learn-isara-parent p {
    margin-top: 50px;
}

.learn-round {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.learn-round-img img {
    width: 80%;
    height: auto;
    margin-top: 45px;
    margin-bottom: 40px;
}

/* <!-- メリット --> */
.isara-merit {
    width: auto;
    height: 1022px;
    background-color: #FEF5E0;
    text-align: center;
}

.isara-merit-title {
    display: inline-flex;
    text-align: center;
}

.isara-merit-title>h2 {
    padding-top: 70px;
}

.isara-merit-title span {
    font-size: 1.5rem;
}

.merit-contents {
    width: 92%;
    height: 382px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.merit-contents h5 {
    color: #EBB94C;
}

.merit-contents-detail {
    padding: 0 1.5%;
}

.merit-contents-detail img {
    width: 360px;
    height: 180px;
}

.merit-contents-detail>h5 {
    margin-top: 12px;
    text-align: left;
}

.merit-contents-detail p {
    width: 360px;
    text-align: left;
    padding-top: 12px;
}

.support {
    text-align: center;
    padding-top: 40px;
    background-color: #fff;
    width: 93%;
    height: 263px;
    margin: auto;
    border: solid 2px #EBB94C;
    border-radius: 5px;
}

.support h3 {
    color: #EBB94C;
}

.support-p {
    padding-top: 40px;
}

/* <!-- メンバー --> */
.isara-member {
    width: auto;
    height: 1380px;
    background-image: url(img/teacherbg.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 84px;
}

.isara-member h6 {
    padding-top: 30px;
}

.member-shokai {
    padding-top: 190px;
}

.shokai-top {
    display: flex;
    justify-content: center;
}

.shokai-under {
    display: inline-flex;
    padding-top: 195px;
}

.member-t {
    width: 372px;
    height: 390px;
    border: solid 2px #fff;
    margin-right: 14px;
    margin-left: 14px;
}

.member-b {
    width: 372px;
    height: 360px;
    border: solid 2px #fff;
    margin-right: 14px;
    margin-left: 14px;
}

.member img {
    border-radius: 50%;
    position: relative;
    bottom: 150px;
}

.member p {
    position: relative;
    bottom: 150px;
    padding: auto 41px 54px 41px;
}

.member-p {
    width: 280px;
    height: 220px;
    margin: 0 auto;
    text-align: left;
}

/* <!-- 「 本当に 」可能なのか？ --> */
.really {
    width: auto;
    height: 270px;
    background-color: #EBB94C;
    text-align: center;
}

.qa {
    height: 80px;
    width: 80px;
    background-color: #fff;
    color: #EBB94C;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

.really-title {
    color: #fff;
    display: inline-flex;
}

.really-title>h2 {
    padding-top: 70px;
}

.really-kakko {
    color: #fff;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #EBB94C;
    margin: 0 auto;
    bottom: 3px;
    position: absolute;
}

/* 実現可能です */
.possible {
    width: auto;
    height: 1080px;
    background-color: #fff;
}

.possible-title {
    text-align: center;
    margin-top: 45px;
}

.message {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.message img {
    width: 245px;
    height: 245px;
    border: solid 3px #EBB94C;
}

.message p {
    width: 490px;
    margin-left: 30px;
}

/* <!-- iSara[イサラ]で学べる内容 --> */
.detail {
    width: auto;
    height: 800px;
    background-image: url(img/classbg.jpg);
    background-size: cover;
    text-align: center;
}

.detail table {
    margin: 0 auto;
    border: 1px solid;
    border-spacing: 0;
    border-radius: 6px;
    display: inline;
}

.detail-title {
    color: #fff;
    padding-top: 65px;
}

.detail th {
    width: 370px;
    border: none;
}

.detail td {
    border-right: 2px solid #006EA9;
    border-left: 2px solid #006EA9;
}

.detail-tail {
    border-bottom: 2px solid #006EA9;
}

.detail-naiyou-top {
    color: #fff;
    background-color: #006EA9;
    width: 370px;
    height: 63px;
}

.detail-naiyou {
    width: 370px;
    height: 55px;
    background-color: #fff;
}


/* リスク０ */
.none-risk {
    width: auto;
    height: 145px;
    color: #fff;
    background-color: #006EA9;
    text-align: center;
    margin: auto;
    position: relative;
}

.none-risk h3 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translateY(-50%, -50%);
    margin: auto;
    text-align: center;
}


/* <!-- 受講の流れ --> */
.nagare {
    width: auto;
    height: 1825px;
    background-color: #fff;
}

.nagare-title {
    margin-top: 65px;
    margin-bottom: 40px;
    text-align: center;
}

.nagare-naka {
    text-align: center;
}

.nagare-title>h3 {
    margin-bottom: 55px;
}


.nagare-parent {
    width: 93%;
    height: 225px;
    background-color: #FEF5E0;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nagare-left {
    width: 215px;
    height: 222px;
    display: inline-block;
    padding-top: 30px;
    padding-left: 57px;
    padding-bottom: 35px;
    text-align: center;
}

.nagare-left>h4 {
    width: 120px;
    font-size: 18px;
    margin-top: 23px;
}

.nagare-right {
    margin-top: 30px;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 35px;
    text-align: left;
}

.nagare-parent-manabu {
    text-align: left;
}

.nagare-parent-manabu h4 {
    padding-right: 15px;
}

.nagare-right-manabu {
    padding-right: 150px;
    width: 5000px;
}

.nagare-parent-support {
    /* padding-right: 300px; */
}

.nagare-right-support {
    text-align: left;
    width: 5000px;
}

/* <!-- なぜバンコクなのか？ --> */
.why-bangkok {
    width: auto;
    height: 495px;
    background-image: url(img/bangkokbg.jpg);
    background-size: cover;
    color: #fff;
    padding-top: 105px;
    padding-left: 95px;
}

.why-bangkok ul li {
    font-size: larger;
}

#possible-japan {
    padding-top: 32px;
}

#bangkok-important {
    font-size: x-large;
}

/* <!-- iSara受講生への参加特典 --> */
.sanka-tokuten {
    width: auto;
    height: 705px;
    background-color: #F7C23B;
    text-align: center;
    padding-top: 63px;
}

.sanka-tokuten-title p {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 19px;
}

.sanka-tokuten-title span {
    color: #fff;
}

.tokuten-detail-title {
    width: 575px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    z-index: 998;
    background-color: #F7C23B;
}

.tokuten-detail-title h3 {
    font-size: 34px;
}

.tokuten-detail {
    width: 93%;
    height: 360px;
    border: 2px solid #fff;
    margin: auto;
    display: flex;
}

.tokuten {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    margin: 40px auto 0 auto;
    padding-top: 50px;
}

.tokuten h3 {
    color: #F7C23B;
    padding-bottom: 13px;
}

.tokuten p {
    width: 225px;
    height: 85px;
    padding-left: 23px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

/* <!-- iSaraはボランティアではありません --> */
.not-volunteer {
    width: auto;
    height: 528px;
    background-image: url(img/specialdetail.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.not-volunteer h2 {
    padding-top: 60px;
}

.not-volunteer p {
    font-size: 22px;
    padding-top: 22px;
}

.volunteer-sub {
    display: flex;
}

.volunteer-sub h2,
.volunteer-kakko1 {}

.volunteer-kakko1 {
    color: #fff;
    margin-right: 100px;
    font-size: 80px;
}

.volunteer-kakko2 {
    color: #fff;
    margin-left: 100px;
    font-size: 80px;
}

/* <!-- 創業者からのメッセージ --> */
.founder-message {
    width: auto;
    height: 624px;
}

.founder-message-title {
    text-align: center;
    margin-top: 58px;
    margin-bottom: 40px;
}

.founder-message-title h3 {
    margin-top: 40px;
}

.someya-message {
    width: 68%;
    height: 334px;
    display: flex;
    margin: 0 auto;
}

.someya-message img {
    width: 195px;
    height: 142px;
}

.someya-message-message {
    padding-left: 30px;
}

/* <!-- 資料請求フォーム --> */
.document-request {
    width: auto;
    height: 706px;
    background-color: #EBB94C;
    text-align: center;
}

.document-request-title {
    padding-top: 60px;
    font-weight: bold;
}

.document-request-title i {
    color: #fff;
}

.document-request input {
    width: 60%;
    height: 55px;
    border-radius: 7px;
    margin: 1% 0;
    border-style: none;
}

.document-request textarea {
    width: 60%;
    height: 100px;
    margin-top: 28px;
    margin-bottom: 30px;
    border-radius: 7px;
    border-style: none
}

.document-request-submit input {
    color: #fff;
    background-color: #DA6B63;
    border-radius: 30px;
    font-size: x-large;
}

textarea,
input::placeholder {
    padding-left: 5px;
}

/* <!-- よくある質問 --> */
.question {
    width: auto;
    height: 1330px;
}

.fa-envelope-open {
    color: #4e4343;
}

.question h2 {
    text-align: center;
    margin-top: 60px;
}

.fa-question-circle {
    color: #016ea9;
}

.page-box {
    width: 80%;
    margin: 0 auto;
}

.page-box-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: solid 1px #e5e5e5;
}

.page-box-title .fas {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.far {
    margin: auto 5px;
}

.page-box-text {
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    display: none;
}

.page-box-title-text:hover {
    text-decoration: underline;
}

.page-box-title-text {
    cursor: pointer;
}

.page-box-title-text p {
    padding-top: 10px;
}

/* footer */

footer {
    width: auto;
    height: 178px;
    background-color: #ECECEC;
    text-align: center;
}


footer h6 {
    padding-top: 35px;
}

footer h6,
.footer-p {
    font-size: 12px;
}

/* pagetop */
h2 {
    text-align: center;
    margin-bottom: 30px;
}

#page_top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 50px;
    bottom: -100px;
    background: #ECECEC;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 50px;
    color: black;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    bottom: 0;
    right: 0px;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {}


@media screen and (max-width: 640px) {
    .header-left {
        margin: 0;
    }

    .header-left img {
        width: 89px;
        height: 30px;
    }

    .header-left p {
        font-size: 10px;
    }

    /* <!-- top-wrapper --> */
    .top-wrapper {
        height: 375px;
        background-image: url(img/mainsp.jpg);
        background-size: cover;
    }

    .top-wrapper h1,
    h3 {
        font-weight: bold;
    }

    .top-wrapper h1 {
        font-size: 20px;
    }

    .top-wrapper img {
        width: 297px;
        height: 105px;
    }

    .top-wrapper h3 {
        font-size: 16px;
        margin-top: 50px;
    }

    /* <!-- お問い合わせ・資料請求 --> */
    .contact {
        height: 500px;
    }

    .contact h3 {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .course-fee {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .contact-us {
        width: 90%;
        height: 100px;
        margin-top: 25px;
    }

    .contact-us p {
        margin: 0 auto;
        height: 80px;
        width: 55%;
        font-size: 20px;
    }

    .contact-deadline {
        font-size: 15px;
    }

    /* <!-- エンジニアとして本当の自由を手に入れるためには？ --> */
    .free {
        background-image: url(img/introbottom.jpg);
        background-size: cover;
        background-position: center;
    }

    .free-title h2 {
        font-size: 20px;
    }

    .free p {
        font-size: 15px;
        width: 60%;
        margin: 0 auto;
    }

    /* <!-- iSara[イサラ]とは --> */

    .about-isara {
        height: 615px;
    }

    .about-isara-head {
        height: 60px;
        width: 60px;
        background-color: #EBB94C;
        text-align: center;
        line-height: 60px;
        position: relative;
        margin: 0 auto;
        bottom: 30px;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .about-isara>h4 {
        width: 60%;
        font-size: 15px;
        margin: -40px auto 0 auto;
        letter-spacing: 1px;
    }

    .free-title {
        margin-top: -50px;
    }

    .five-skill>h4 {
        width: 42%;
        font-size: 15px;
        margin: -20px auto 0 auto;
        letter-spacing: 1px;
    }

    .five-images {
        width: 80%;
        font-size: 10px;
        letter-spacing: 1px;
        margin: 0 auto;
    }

    .five-images img {
        width: 30px;
        height: 30px;
    }

    .five-images-connect img {
        width: 80px;
        height: 40px;
    }

    /* <!-- iSaraで「基本的なプログラミングスキル」は教えません --> */
    .not-teach {
        height: 610px;
    }

    .not-teach-parent h2 {
        width: 60%;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0 auto;
    }

    .not-teach-parent h5 {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .step0 {
        width: 443px;
        height: 107px;
    }

    .step h5 {
        width: 340px;
        height: 17px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .step0 p{
        margin-top: -15px;
        font-size: 13px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    .step0 h4{
        font-size: 12px;
        margin-top: -7px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .eat-difficult{
        height: 94px;
    }
.eat-difficult h4{
    width: 340px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
}
/* <!-- iSara[イサラ]で学べること --> */
.learn-isara{
    height: 290px;
}
.learn-isara-parent h3{
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: -10px;
}
.learn-isara-parent p{
    width: 60%;
    margin: 50px auto 0 auto;
    font-size: 15px;
    letter-spacing: 1px;
}
.learn-round{
    margin-top: -25px;
    font-size: 15px;
}
.learn-round-img{
    width: 20%;
}
.learn-round-img img {
    width: 90%;
}
.korega-isara{
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: -20px;
}
    /* <!-- iSara受講生への参加特典 --> */
    .sanka-tokuten {
        height: 575px;
    }

    .sanka-tokuten-title {
        width: 60%;
        margin: 0 auto;
    }

    .sanka-tokuten-title h2 {
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 0;
    }

    .sanka-tokuten-title p {
        font-size: 13px;
    }

    /* <!-- iSaraはボランティアではありません --> */
    .not-volunteer {
        height: 490px;
    }

    .not-volunteer h2 {
        font-size: 20px;
    }

    .not-volunteer p {
        font-size: 12px;
    }

    /* <!-- 創業者からのメッセージ --> */
    .founder-message {
        height: 1000px;
    }

    .founder-message-title * {
        font-size: 19px;
    }

    .founder-message-title h3 {
        width: 50%;
        font-size: 15px;
        margin: 0 auto;
        letter-spacing: 1px;
    }

    .someya-message {
        width: 90%;
        display: block;
    }

    .someya-message img {
        width: 460px;
        height: 353px;
    }

    .someya-message-message {
        width: 460px;
        font-size: 15px;
    }

    /* <!-- 資料請求フォーム --> */
    .document-request-title h2 {
        font-size: 20px;
    }

    .document-request-title p {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .document-request input {
        width: 90%;
        margin-top: 15px;
    }

    .document-request textarea {
        width: 90%;
        margin-top: 40px;
    }

    /* < !-- よくある質問 --> */
    .question {
        height: 850px;
    }

    .question h2 {
        font-size: large;
        font-weight: bold;
    }

    .page-box {
        width: 90%;
    }

    .page-box-title {
        font-size: 15px;
        padding: 0;
    }

    .page-box-text p {
        font-size: 12px;
    }

    /* footer */
    footer {
        height: 105px;
        background-color: #ECECEC;
    }
}